#sample {
    background-color: black;
    display: block;
        margin: 0 auto;
        position: relative;
}
#moji {
    top:0;
    width: 1500px;
    height: 500px;
    position: absolute;
}

#score {
    margin-top: 0px;
    margin-left: 25px;
    font-size: 60px;
    color: #000000;
}
#Time {
    margin-top: -80px;
    margin-left: 25px;
  font-size: 20px;
  color: #000000;
  width: 201px;
}