#sample {
    background-color: black;
    display: block;
        margin: 0 auto;
        position: relative;
}
#moji {
    top:0;
    width: 1500px;
    height: 500px;
    position: absolute;
}

#score {
    margin-top: 0px;
    margin-left: 25px;
    font-size: 60px;
    color: #000000;
}
#Time {
    margin-top: -80px;
    margin-left: 25px;
  font-size: 20px;
  color: #000000;
  width: 201px;
}
#waku{
    margin-top: -600px;
    margin-left: 500px;
    position: absolute;
    height: 350px;
    width: 500px;
    background-color: rgb(255, 230, 0);
}
#input{
    height: 100px;
    width: 500px;
    margin-top: 70px;
}