#img{
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
    width: 100%;
    height: 100%;
    border: 1px solid; /* 見た目用 */
}
.storyline-btn{
    background-color: rgb(216, 91, 91);
    margin-bottom: 50px;
    width: 100px;
    height: 60px;
    position: absolute;
    postion: fixed;
    position: fixed;
    right: 80px;
    bottom: 20px;
    border-radius: 10px;
    font-size: large;
    outline: none
}
.storyline-btn:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
}
.text{
    position: absolute;
    margin-top: -130px;
    margin-left: 10px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 5px;
    border: solid 1px rgba(100, 93, 93, 0.2);
}