body{
    background-color: #F5BE36;
 
 }

html, body {
    width: 100%;
    height: 100%;
}
 
.container_goalpage {
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
    width: 100%;
    height: 100%;
    border: 1px solid; /* 見た目用 */     
}

 .btn-wrap{
     z-index: 4;
 }
 
 .btn-1{
     border-radius: 20px;
     background-image: url(./img/yamikin.png);
     background-size: cover;
     width:110px;
     height:135px;
     overflow: hidden;
     margin:20px;
 }
 .btn-1:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: white;
     background-image: url(./img/yamikin.黒png.png); 
 }
 
 .btn-2{
     border-radius: 20px;
     background-size: cover;
     width: 110px;
     height: 135px;
     overflow: hidden;
     background-image: url(./img/treasure.png);
     margin:20px;
 }
 .btn-2:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: white;
     background-image: url(./img/treasure黒.png);
 }
 .btn-3{
     border-radius: 20px;
     background-size: cover;
     width: 110px;
     height: 135px;
     overflow: hidden;
     background-image: url(./img/coinmain.png);
     margin:20px;
 }
 .btn-3:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: white;
     background-image: url(./img/coinmain黒.png);
 }
 .btn-shop{
    border-radius: 20px;
    background-size: cover;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background-image: url(./img/Shop.webp);
    background-position: -49px;
    margin:20px;
}
 .btn-4{
     border-radius: 20px;
     background-size: cover;
     width: 110px;
     height: 135px;
     overflow: hidden;
     background-image: url(./img/Car.png);
     margin:20px;
 }
 .btn-4:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: white;
     background-image: url(./img/Car黒.png);
 }
 
 .btn-5{
       border-radius: 20px;
     background-size: cover;
     width: 110px;
     height: 135px;
     overflow: hidden;
     background-image: url(./img/SuitUp.png);
     margin:20px;
 }
 .btn-5:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: white;
     background-image: url(./img/SuitUp黒.png);
 }
 .btn-6{
       border-radius: 20px;
     background-size: cover;
     width: 110px;
     height: 135px;
     overflow: hidden;
     background-image: url(./img/HouseBox.png);
     margin:20px;
 }
 .btn-6:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: white;
     background-image: url(./img/HouseBox黒.png);
 }
 .score-btn{
     /* background-image: url(./img/rankings1.jpg); */
     background-repeat: no-repeat;
     /* background-position: 0px; */
     /* background-position-y: 0px; */
     background-size: 100%;
     border-radius: 10px;
     width: 800px;
     height: 200px;
     /* margin-top: -400px;
     margin-left: 0px;
     position: absolute;
     float: none; */
     font-size: 100px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
 }
 
 
 
 .score{
     color: white;
     display: flex;
     float: left;
 }
 .btn-container-next-ranking{
     display: flex;
     justify-content: space-between;
 }
 
.popups {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */

}

 /*闇金CSSセクション*/
 .yami-gamen-background-img{
 }
 .yami-gamen-background{
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
    width: 980px;
    height: 650px;
    background-color: rgb(202, 199, 199);
    border-radius: 20px;
    border: 5px solid #000000;
 }
 .yami-gamen{
     background-color: rgb(252, 252, 252);
     width: 920px;
     height:590px;
     border-radius: 10px;
     z-index: 2;
 }
 .yamikin-signboard{
     background-color: #000000;
     width: 100px;
     height: 50px;
     margin-top: 10px;
     margin-left: -250px;
 }
 .btn-1-base{
     background-color: rgb(22,105,122);
     width: 260px;
     height: 260px;
     /* margin-top: 20px;
     margin-left: 40px; */
     /* float: none;
     position: absolute; */
     border-radius: 15px;
     z-index: 2;
     border :none;
     border-color: #000000;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     margin: 24px 0 0 33px;
 }
 .btn-1-base:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: goldenrod;
  
 }
 
 .btn-text{
     /* margin-top: 95px;
     margin-left: 60px; */
     /* float: none; */
     /* position: absolute;
     border-radius: 3px;
     z-index: 2;
     border-color: #000000; */
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 45px;
     line-height:normal;
 }
 .img-coin{
     width: 176px;
     /* height: 200px; */
     /* position: absolute; */
     /* margin-top: -120px;
     margin-left: -110px; */
     z-index: 2;
     border-radius: 10px;
 }
 
 .alret-wrap{
     background-color: rgb(253, 251, 251);
     width: 530px;
     height: 500px;
     z-index: 3;
     margin-top: 0px;
     margin-left: 0px;
     float: none;
     position: absolute;
     border-radius: 20px;
     border: 10px solid #050505;
 }
 .alret-btn1{
     background-color: rgb(255, 253, 253);
     width: 200px;
     height: 100px;
     margin-top: 20px;
     margin-left: 170px;
     /* float: none;
     position: absolute; */
     border-radius: 15px;
     z-index: 3;
     border :solid;
     border-color: #000000;
     color: rgb(2, 2, 2);
     font-size: 30px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 
 .alret-btn1:hover{
     box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
     background-color: rgb(243,91,109);
     color: rgb(255, 253, 253);
 }
 .alret-img-base{
     width: 350px;
     /* height: 400px; */
     margin-top: 0px;
     margin-left: 80px;
     /* float: none;
     position: absolute; */
     z-index: 3;
     border-radius: 5px;
 }
 .alret-img1{
 
 }
 .alret-img2{
     /* width: 400px;
     height: 400px;
     margin-top: auto;
     margin-left: 60px;
     float: none;
     position: absolute;
     z-index: 3; */
 }
 .alret-img3{
     /* width: 400px;
     height: 400px;
     margin-top: auto;
     margin-left: 60px;
     float: none;
     position: absolute;
     z-index: 3; */
 }
 .alret-img4{
     /* width: 400px;
     height: 400px;
     margin-top: auto;
     margin-left: 60px;
     float: none;
     position: absolute;
     z-index: 3; */
 }
 .alret-img5{
     /* width: 400px;
     height: 400px;
     margin-top: auto;
     margin-left: 60px;
     float: none;
     position: absolute;
     z-index: 3; */
 }
 .alret-img6{
     /* width: 400px;
     height: 400px;
     margin-top: auto;
     margin-left: 60px;
     float: none;
     position: absolute;
     z-index: 3; */
 }
 .alret-text-base{
     margin-top: -40px;
     margin-left: 150px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px;
 }
 .alret-text1{
     /* margin-top: 330px;
     margin-left: 150px; */
     /* float: none;
     position: absolute;
     z-index: 3; */
     
 }
 
 .alret-text2{
     /* margin-top: 330px;
     margin-left: 150px; */
     /* float: none;
     position: absolute;
     z-index: 3;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px; */
 }
 
 .alret-text3{
     /* margin-top: 330px;
     margin-left: 150px; */
     /* float: none;
     position: absolute;
     z-index: 3;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px; */
 }
 .alret-text4{
     /* margin-top: 330px;
     margin-left: 150px; */
     /* float: none;
     position: absolute;
     z-index: 3;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px; */
 }
 .alret-text5{
     /* margin-top: 330px;
     margin-left: 150px; */
     /* float: none;
     position: absolute;
     z-index: 3;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px; */
 }
 .alret-text6{
     /* margin-top: 330px;
     margin-left: 150px; */
     /* float: none;
     position: absolute;
     z-index: 3;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px; */
 }
 
 .takara-return{
    position: absolute;
    margin-top: -540px;
    margin-left: -49px;
}
.yami-return{
    position: absolute;
    margin-top: -750px;
    margin-left: -1085px;     
}
.shop-return{
    position: absolute;
    margin-top: -750px;
    margin-left: -1085px;    
}
 
 .btn-return,.takara-btn-return,.shop-btn-return{
     background-image: url(./img/retrun-button.jpg);
     background-position: -12.5px;
     background-size: 120px;
     background-repeat: no-repeat;
     width: 100px;
     height: 100px;
     /* margin-top: 50px;
     margin-left: 50px; */
     border-radius: 100px;
     position: absolute;
     z-index: 3;
     float: none;
     border: 3px solid #000000;
 }
 
 
 
 
 /* 宝くじ ----------*/
   
  .takara{
    width: 800px;
    margin: 0 auto;
 } 
 div.roulette {
     margin-top: 35px;
   }
   div.roulette-inner {
     /* left: 33px; */
   }
   
   div.roulette {
     overflow: hidden;
     height: 300px;
     width: 300px;
     margin: 0 auto;
     margin-top: 50px;
   }
   
   div.roulette_container {
     background-color: rgb(253, 252, 253);
     width: 800px;
     height: 400px;
     border: 1px solid rgba(253, 252, 253, 0.31);
     box-shadow: 0px 0px 3px lightpink;
     margin-top: 80px;
     border-radius: 15px;
   }
 
 .img{
   height: 300px;
   width: 300px;
 }
   
   .btn_container {
     width: 800px;
     margin: 20px;
     text-align: center;
   }
   .btn_container .start {
     margin-right: 20px;
   }
   .log_container {
     margin-left: 25px;
     margin-top: 80px;
   }
   .demo_label {
     border-left: 5px solid gray;
     padding-left: 5px;
     font-size: 50px;
   }
   #msg {
     border: 1px solid #eee;
     padding: 10px 20px;
     overflow-y: scroll;
     max-height: 100px;
   }
   div.param_label {
     margin: 20px 0px 10px 0px;
   }
   #stopImageNumber {
     width: 20px;
   }
   .param_name {
     font-weight: bold;
   }
   .image_sample img {
     width: 50px;
     cursor: pointer;
   }
   .right_container {
     width: 550px;
     margin-left: 100px;
   }
   .code_container {
     margin-top: 50px;
     width: 500px;
   }
   .label-info {
     margin-bottom: 3px;
   }
   div.ui-slider {
     width: 300px;
   }
 
 .btn_container {
     margin:20px;
     text-align:center;
 }
 .btn_container .start {
     margin-right:20px;

 }
 .takara-alret-wrap{
    background-color: rgb(253, 251, 251);
    width: 530px;
    height: 500px;
    z-index: 3;
    margin-top: -500px;
    margin-left: 130px;
    float: none;
    position: absolute;
    border-radius: 20px;
    border: 10px solid #050505;
}
.takara-alret-btn1{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    margin-top: 380px;
    margin-left: 170px;
    opacity: 100%;
    float: none;
    position: absolute;
    border-radius: 15px;
    z-index: 1;
    border :solid;
    border-color: #000000;
    color: rgb(2, 2, 2);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
}

.takara-alret-btn1:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: rgb(255, 4, 4);
    color: rgb(255, 253, 253);
}
.takara-alret-img-base{
    width: 400px;
    height: 400px;
    opacity: 100%;
    margin-top: 0px;
    margin-left: 60px;
    float: none;
    position: absolute;
    border-radius: 5px;
}
.takara-alret-text-base{
    margin-top: 200px;
    margin-left: 100px;
    position:absolute;
    float: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    z-index: 3;
    color: #000000;
}
.takara-text-wrap{
    width: 400px;
    height: 400px;
    opacity: 20%;
    margin-top: 100px;
    margin-left: 60px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(250, 253, 253);
}
.space{
    margin-left: 10px;
}
/* ---shop--------------------------------------------------------------------- */
.shop-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  /* width: 980px;
  height: 650px;
  margin-top: 30px;
  margin-left: 280px;
  position: absolute;
  float: none; */
  background-color: rgb(202, 199, 199);
  z-index: 2;
  border-radius: 20px;
  border: 5px solid #000000;
}
.shop-btn-wrap{
    margin-left: 0px;
}
.btn-suit{
    border-radius: 20px;
    background-size: cover;
    width: 270px;
    height: 600px;
    margin-top: 50px;
    /* overflow: hidden; */
    background-image: url(./img/suit.jpg);
    margin:20px;
    background-position: -40px;
    /* border: 3px; */
    outline: none;
}
.btn-suit:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/suit.jpg);
}

.btn-car{
      border-radius: 20px;
    background-size: cover;
    width: 270px;
    height: 600px;
    overflow: hidden;
    background-image: url(./img/car.jpg);
    margin:20px;
    background-position: -20px;
    outline: none;
}
.btn-car:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/car.jpg);
}
.btn-house{
    border-radius: 20px;
    background-size: cover;
    width: 270px;
    height: 600px;
    overflow: hidden;
    background-image: url(./img/house.jpg);
    margin:20px;
    background-position: -200px;
    outline: none;
}
.btn-house:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/house.jpg);
}
.caption1{
    position:absolute;
    left:0;
    top:150px;
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff;
    padding:10px;
    width:130px;
    height:130px;
}

