body{
   background-color: black;

}

.btn-wrap{
    background-color: white;
    opacity: 60%;
    margin-left: 50px;
    margin-top: 30px;
    width: 500px;
    height:400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.btn-1{
    border-radius: 20px;
    background-image: url(./img/yamikin.png);
    background-size: cover;
    width:110px;
    height:135px;
    overflow: hidden;
    margin:20px;
}
.btn-1:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/yamikin.黒png.png); 
}

.btn-2{
    border-radius: 20px;
    background-size: cover;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background-image: url(./img/treasure.png);
    margin:20px;
}
.btn-2:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/treasure黒.png);
}
.btn-3{
    border-radius: 20px;
    background-size: cover;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background-image: url(./img/clock.png);
    margin:20px;
}
.btn-3:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/clock.黒png.png);
}
.btn-4{
    border-radius: 20px;
    background-size: cover;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background-image: url(./img/Car.png);
    margin:20px;
}
.btn-4:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/Car黒.png);
}

.btn-5{
      border-radius: 20px;
    background-size: cover;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background-image: url(./img/SuitUp.png);
    margin:20px;
}
.btn-5:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/SuitUp黒.png);
}
.btn-6{
      border-radius: 20px;
    background-size: cover;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background-image: url(./img/HouseBox.png);
    margin:20px;
}
.btn-6:hover{
    box-shadow: 0 20px 20px rgba(10, 10, 10, 0.2);
    background-color: white;
    background-image: url(./img/HouseBox黒.png);
}


#score{
    color: white;
    display: flex;
    float: left;

}

