body{
    background-color: black;
}

h1{
    color: white;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    font-size: 100px;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.back-to-start{
    border-radius: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    animation: flash 1.5s linear infinite;
    margin: 0 auto;
    width: 750px;
    margin-top: 280px;
}

@keyframes flash {
    0%,100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
}
